#loading-box .loading-left-bg,
#loading-box .loading-right-bg {
    position: fixed;
    z-index: 999998;
    width: 50%;
    height: 100%;
    background-color: rgb(81 81 81 / 80%);
    transition: all 0.7s cubic-bezier(0.42, 0, 0, 1.01);
    backdrop-filter: blur(10px);
}

#loading-box .loading-right-bg {
    right: 0;
}

div.loaded div.loading-left-bg {
    transform: translate(-100%, 0);
}

div.loaded div.loading-right-bg {
    transform: translate(100%, 0);
}